<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Common" version="4.4.1" targetFramework="net461" />
  <package id="GleamTech.DocumentUltimate" version="5.8.1" targetFramework="net461" />
  <package id="GleamTech.FileUltimate" version="7.8.1" targetFramework="net461" />
  <package id="GleamTech.ImageUltimate" version="4.4.1" targetFramework="net461" />
  <package id="GleamTech.VideoUltimate" version="2.5.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
</packages>