<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<add key="SSPConnectionString" value="Server=tcp:premierselecttestdbserver.database.windows.net,1433;Initial Catalog=pss;Persist Security Info=False;User ID=premierdbadmin;Password=cHJlbWllcnNlbGRiCg==;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
			
		<!--<add key="pssConnectionString" value="Server=tcp:premierselecttestdbserver.database.windows.net,1433;Initial Catalog=psstestdb;Persist Security Info=False;User ID=premierdbadmin;Password=cHJlbWllcnNlbGRiCg==;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />		
		<add key="csConnectionString" value="Server=tcp:premierselecttestdbserver.database.windows.net,1433;Initial Catalog=cstestdb;Persist Security Info=False;User ID=premierdbadmin;Password=cHJlbWllcnNlbGRiCg==;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />		
		<add key="mnssConnectionString" value="Server=tcp:premierselecttestdbserver.database.windows.net,1433;Initial Catalog=mnsstestdb;Persist Security Info=False;User ID=premierdbadmin;Password=cHJlbWllcnNlbGRiCg==;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />		
		<add key="sscConnectionString" value="Server=tcp:premierselecttestdbserver.database.windows.net,1433;Initial Catalog=ssctestdb;Persist Security Info=False;User ID=premierdbadmin;Password=cHJlbWllcnNlbGRiCg==;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		
		<add key="ssmaConnectionString" value="Server=tcp:premierselecttestdbserver.database.windows.net,1433;Initial Catalog=ssmatestdb;Persist Security Info=False;User ID=premierdbadmin;Password=cHJlbWllcnNlbGRiCg==;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
		
		<!--<add key="SSPConnectionString" value="Data Source=DESKTOP-EL4ATNG;Initial Catalog=SSMAdb2;Integrated Security=True" />-->

		<add key="FileUltimate:LicenseKey" value="QTJ5EEWXC2-ECPZUE36W8-3K3UGNQQ1L-2AN4TZ1CUD-FBAPV27QXK-2FU3HUSD4U-WXM9FW4UB3-7RR548Q" />


		<!-- <add key="SSPFileManagerPath_customer" value="C:\MyGit\VSOnline\SSP_WebAPI\SSP_WebAPI\Attachments\customer\" />
    <add key="SSPFileManagerPath_bull" value="C:\MyGit\VSOnline\SSP_WebAPI\SSP_WebAPI\Attachments\bull\" />
    <add key="SSPFileManagerPath_supply" value="C:\MyGit\VSOnline\SSP_WebAPI\SSP_WebAPI\Attachments\supply\" />
    <add key="SSPFileManagerPath_home" value="C:\MyGit\VSOnline\SSP_WebAPI\SSP_WebAPI\Attachments\home\" />-->


		<add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bullsmedia;AccountKey=GmJzTVuwVed0+qa/tPrmys+slWy9VmFcVE1vl/lGGZZZYL8UpOB3BRYotN2oQ6s+G38j7SksEDf+R7j94dCY0A==;EndpointSuffix=core.windows.net" />
		<add key ="FileManagerRootFolderName" value="Azure Blob Storage"/>
		<add key ="FileManagerRootContainerName" value="premierimages"/>
		<add key ="FileManagerRootAccountName" value="bullsmedia"/>
		<add key ="FileManagerRootAccountKey" value="GmJzTVuwVed0+qa/tPrmys+slWy9VmFcVE1vl/lGGZZZYL8UpOB3BRYotN2oQ6s+G38j7SksEDf+R7j94dCY0A"/>
		<add key ="FileManagerRootEndpointSuffix" value= "core.windows.net"/>
	</appSettings>
	<connectionStrings />
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<pages />
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<!--    <modules>
      <remove name="FormsAuthentication" />
    </modules> -->
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<defaultDocument>
			<files>
				<clear />
				<add value="Docs/DocsFrame.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
</configuration>